@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 3px;
  }
  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .hover\:scrollbar-thumb-gray-400:hover::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
